<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="778f8b">  <td>14/05/18 13:21:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestTests.ModifyOrderByServiceTest()[pri:0, instance:rest.Tests.RestTests@99833]">ModifyOrderByServiceTest</td> 
  <td>main@8918002</td>   <td></td> </tr>
<tr bgcolor="778f8b">  <td>14/05/18 13:21:49</td>   <td>1880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestTests.SeleniumWebPageTest()[pri:0, instance:rest.Tests.RestTests@99833]">SeleniumWebPageTest</td> 
  <td>main@8918002</td>   <td></td> </tr>
<tr bgcolor="778f8b">  <td>14/05/18 13:22:35</td>   <td>48494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestTests.saveOrderByServiceAndDeleteByDAOTest()[pri:0, instance:rest.Tests.RestTests@99833]">saveOrderByServiceAndDeleteByDAOTest</td> 
  <td>main@8918002</td>   <td></td> </tr>
</table>
